ion-toolbar{
  --min-height:55px!important;
}

.new-background-color{
     color:white;
    --background: #54d61c;

}

.checkbox-label {
	padding-left:10px;
}
.checkbox-top {
	padding-top:0px;
		margin-top:0px;
}
.ion-card-top {
	height:80px;
}

.popup-pin .popup { 
  height: 60%;
  --min-width: 200px; 
}

$alert-md-content-max-height:                 240px !default;
