.new-background-color{
     color:white;
    --background: #54d61c;
}
ion-toolbar{
  --min-height:105px!important;
}

ion-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-bottom:50px;
  color:white;
}

.item-card {
  height: 100px;
}