<ion-header [translucent]="true">
  <ion-toolbar mode=ios class="new-background-color">
 
    <ion-title>
      About us
    </ion-title>

 <!-- Side menu button -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" class="my-side-menu"></ion-menu-button>
    </ion-buttons>



  </ion-toolbar>
</ion-header>
<ion-content>

<ion-card>
    <ion-card-header style="color:black;font:bold">

     WHO WE ARE 


    </ion-card-header>
       <ion-img src="/assets/icon/pharmacy-backg.jpg"></ion-img>

</ion-card>
<ion-card text-center>
 <ion-card-header class="ion-text-uppercase;backg" color="tertiary">
      Who We Are
    

    </ion-card-header>
 <ion-card-content style="padding-top:14px">
   

     <p style="font-family:NunitoSans-Regular,line-height:24px;font-size:14px">Egypt’s largest online medication ordering and pharmacy benefits management platform. With a customer-centric culture, Yodawy is determined to transform the patient experience to a seamless, hassle-free one. Yodawy creates user-friendly   </p>



      </ion-card-content>

    
</ion-card>


<ion-card text-center>
 <ion-card-header class="ion-text-uppercase;backg" color="tertiary">
      Our Services
    </ion-card-header>
 <ion-card-content style="padding-top:14px">



     <p>Egypt’s largest online medication ordering and pharmacy benefits management platform. With a customer-centric culture, Yodawy is determined to transform the patient experience to a seamless, hassle-free one. Yodawy creates user-friendly   </p>

</ion-card-content>

    
</ion-card>




</ion-content>

