.new-background-color{
     color:white;
    --background: #54d61c;
}

ion-toolbar{
  --min-height:55px!important;
}
.fixedLabel {
        --min-height: 100px !important;

        max-width: 40% !important;
 }

 .flex-container{
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  
  justify-content: center;
  align-items: center;
  
}

.background-image{
    --background: url(/assets/icon/pharmacy-backg6.jpg) 0 0/100% 100% no-repeat;
}

ion-card{
    height: 220px;
}
.ion-card-select{
    height: 60px;
}

.option-lable {
  display: flex;
  justify-content: center;
}