<ion-header [translucent]="true">
  <ion-toolbar mode=ios class="new-background-color">
 
    <ion-title>
       Pharmacy Options
    </ion-title>

    <ion-buttons slot="start">
      <ion-back-button  defaultHref="/" color="light"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content no-scroll padding>

<ion-card class="background-image">

Medicines

</ion-card>

<ion-grid>
  <ion-row>
    <ion-col>
      <ion-card class="ion-card-select">
       <ion-item>
			   <ion-label color="primary" class="option-lable" (click)='goToPrescriptionPage()'>Upload Prescription </ion-label>
      </ion-item>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card class="ion-card-select">
      <ion-item>
			   <ion-label color="primary" class="option-lable" (click)='goToShelfPage()'>Generic Medicines</ion-label>
       </ion-item>
      </ion-card>
    </ion-col>
   
  </ion-row>
</ion-grid>


</ion-content>
